@model CapaEntidad.Producto

@{
    ViewBag.Title = "Editar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>¡Éxito!</strong> @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Error!</strong> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Producto</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Editar Producto</h3></div>
                                <div class="card-body">
                                    <form action="@Url.Action("Editar","Producto")" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="IdProducto" value="@Model.IdProducto" />

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(modelo => modelo.Nombre, new { @class = "form-control", @id = "txtnombre", @placeholder = "Ingrese el nombre del producto" })
                                                    @Html.Label("txtnombre", "Nombre")
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(modelo => modelo.Descripcion, new { @class = "form-control", @id = "txtdescripcion", @placeholder = "Descripción del producto" })
                                                    @Html.Label("txtdescripcion", "Descripción")
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Campo para elegir la categoría -->
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.DropDownListFor(
                                                             modelo => modelo.oCategoria.IdCategoria,
                                                             (SelectList)ViewBag.Categorias,
                                                             "Selecciona una categoría",
                                                             new { @class = "form-control", @id = "ddlCategoria" }
                                                         )
                                                    @Html.Label("ddlCategoria", "Categoría")
                                                </div>
                                            </div>
                                            <!-- Campo para elegir la marca -->
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.DropDownListFor(
                                                             modelo => modelo.oMarca.IdMarca,
                                                             (SelectList)ViewBag.Marcas,
                                                             "Selecciona una marca",
                                                             new { @class = "form-control", @id = "ddlMarca" }
                                                         )
                                                    @Html.Label("ddlMarca", "Marca")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(modelo => modelo.Precio, new { @class = "form-control", @id = "txtPrecio", @placeholder = "Ingrese el Precio" })
                                                    @Html.Label("txtprecio", "Precio")
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(modelo => modelo.Stock, new { @class = "form-control", @id = "txtStock", @placeholder = "Ingrese el Stock" })
                                                    @Html.Label("txtStock", "Stock")
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Campo para subir imagen -->
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input type="file" class="form-control" id="fileImagen" name="Imagen" />
                                                    @Html.Label("fileImagen", "Subir Imagen")
                                                </div>
                                            </div>
                                        </div>

                                        <!-- MENSAJE ERROR -->
                                        @if (ViewBag.Error != null)
                                        {
                                            <div class="row mb-3">
                                                <div class="alert alert-danger" role="alert">
                                                    @ViewBag.Error
                                                </div>
                                            </div>
                                        }

                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Guardar Cambios</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("ListaProductos","Producto")">Volver a la lista</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; 2025</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
