
@model CapaEntidad.Administrativo
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["existe"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong></strong> @TempData["existe"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Nueva Cuenta Usuario</h3></div>
                                <div class="card-body">
                                    <form action="@Url.Action("Registrar","Usuario")" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.TextBoxFor(modelo => modelo.Nombres, new { @class = "form-control", @id = "txtnombre", @placeholder = ".", @value = ViewData["Nombres"] })
                                                    @Html.Label("txtnombre", "Nombres")
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    @Html.TextBoxFor(modelo => modelo.Apellidos, new { @class = "form-control", @id = "txtapellido", @placeholder = ".", @value = ViewData["Apellidos"] })
                                                    @Html.Label("txtapellido", "Apellidos")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            @Html.TextBoxFor(modelo => modelo.Correo, new { @class = "form-control", @id = "txtcorreo", @placeholder = ".", @value = ViewData["Correo"] })
                                            @Html.Label("txtcorreo", "Correo")
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    @Html.PasswordFor(modelo => modelo.Clave, new { @class = "form-control", @id = "txtclave", @placeholder = "." })
                                                    @Html.Label("txtclave", "Contraseña")
                                                </div>
                                            </div>
                                        </div>
                                        <!-- MENSAJE ERROR -->
                                        @{
                                            if (ViewBag.Error != null)
                                            {
                                                <div class="row mb-3">
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Crear Nuevo Usuario</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <button class="btn btn-danger text-white" onclick="window.location='@Url.Action("ListaUsuarios","Usuario")';">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>


